@model TaskManager.DAL.ViewModel.CalendarEventViewModel

@{
    var events = Model.Events ?? new List<TaskManager.DAL.ViewModel.CalendarEvent>();
    var startDate = Model.StartDate;

    var daysInMonth = DateTime.DaysInMonth(startDate.Year, startDate.Month);
    var firstDayOfWeek = (int)startDate.DayOfWeek == 0 ? 6 : (int)startDate.DayOfWeek - 1;
}

<div class="calendar-grid">
    <div class="calendar-grid-header-cell">T2</div>
    <div class="calendar-grid-header-cell">T3</div>
    <div class="calendar-grid-header-cell">T4</div>
    <div class="calendar-grid-header-cell">T5</div>
    <div class="calendar-grid-header-cell">T6</div>
    <div class="calendar-grid-header-cell">T7</div>
    <div class="calendar-grid-header-cell">CN</div>


    @for (int i = 0; i < firstDayOfWeek; i++)
    {
        <div class="empty-cell"></div>
    }
    @for (int day = 1; day <= daysInMonth; day++)
    {
        var currentDate = new DateTime(startDate.Year, startDate.Month, day);
        var dayEvents = events.Where(e => e.StartDate.Date == currentDate.Date).ToList();

        var isToday = currentDate.Date == DateTime.Today;

        <div class="calendar-day @((isToday ? "today" : ""))">
            <div class="calendar-day-number">@day</div>
            @foreach (var ev in dayEvents)
            {
                bool isLong = ev.Title.Length > 30;
                var shortTitle = isLong ? ev.Title.Substring(0, 30) + "..." : ev.Title;
                <div class="calendar-event @ev.ColorClass" data-id="@ev.IdTask">
                    <a title="Cập nhật trạng thái" onclick="openEditModal('@ev.IdTask')">
                        @shortTitle
                    </a>
                    @if (isLong)
                    {
                        <span class="see-more" data-bs-toggle="modal" data-bs-target="#fullTitleModal" onclick="setFullTitle('@ev.Title.Replace("'", "\\'")')">Xem thêm</span>
                    }
                </div>
            }
        </div>
    }


</div>


<div class="modal fade" id="fullTitleModal" tabindex="-1" aria-labelledby="fullTitleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullTitleModalLabel">Công việc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body" id="modalFullTitle">

            </div>
        </div>
    </div>
</div>


